NEXT_PUBLIC_API_BASE_URL=/api/v1

GO_BACKEND_URL=http://backend:8080/api/v1
GO_BACKEND_HEALTH_URL=http://backend:8080

NEXT_PUBLIC_THUNDERID_BASE_URL=https://thunder:8090
NEXT_PUBLIC_THUNDERID_APPLICATION_ID=01a036f1-ecde-78b0-b4a9-27bc0af902c6

# Use "openssl rand -base64 32" command to generate random string as THUNDERID_SECRET
THUNDERID_SECRET=

# DANGER: Disables ALL TLS verification. Only for local development with self-signed certs. NEVER use in production.
NODE_TLS_REJECT_UNAUTHORIZED=0
NEXT_PUBLIC_THUNDERID_CLIENT_ID=-jQAD_BKN21EyvQ56sBxkQ

# Generate client secret again
THUNDERID_CLIENT_SECRET=